.image {
  width: 100%;
}

.caption {
  border: 1px solid rgb(230, 230, 230);
  padding: 0.5rem 1.5rem;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  margin: 1rem 0;
}
